<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>

        <section
            name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection,
                EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />

        <section
            name="loggingConfiguration"
            type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings,
                Microsoft.Practices.EnterpriseLibrary.Logging, 
				Version=6.0.0.0, Culture=neutral, 
				PublicKeyToken=d702d1a3426498a0" />

    </configSections>

    <connectionStrings>
        <add name="VNCLogViewer_DB" connectionString="Data Source=.\SQL2019;
            Initial Catalog=VNCLogViewer;
            Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="VNCLogViewer_DB" connectionString="Data Source=VNCSQL\SQL2014;
            Initial Catalog=VNCLogViewer;
            Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
        <providers>
            <provider invariantName="System.Data.SqlClient"
            type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>

    <loggingConfiguration
        name="Logging Application Block"
        tracingEnabled="true"
        defaultCategory="General"
        logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<!--<add
              name="Database TraceListener"
              type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener,
                Microsoft.Practices.EnterpriseLibrary.Logging.Database,
                Version=6.0.1304.0,
                Culture=neutral, PublicKeyToken=d702d1a3426498a0"
              listenerDataType="
                Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData,
                Microsoft.Practices.EnterpriseLibrary.Logging.Database,
                Version=6.0.0.0,
              Culture=neutral,
              PublicKeyToken=d702d1a3426498a0"
              databaseInstanceName="LOGDB"
              writeLogStoredProcName="WriteLog"
              addCategoryStoredProcName="AddCategory"
              traceOutputOptions="DateTime, Timestamp, ProcessId"/>-->

			<!--<add name="Email TraceListener"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener,
                Microsoft.Practices.EnterpriseLibrary.Logging,
                Version=6.0.0.0,
                Culture=neutral,
                PublicKeyToken=d702d1a3426498a0"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData,
                Microsoft.Practices.EnterpriseLibrary.Logging,
                Version=6.0.0.0,
                Culture=neutral,
                PublicKeyToken=d702d1a3426498a0"
                toAddress="chrhodes@cox.net" fromAddress="chrhodes@cox.net"
                smtpServer="smtp.gmail.com" smtpPort="587"
                 userName="chrhodesvnc@gmail.com" password="eoP^^r10"/>-->

			<!--<add name="Email TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d702d1a3426498a0"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d702d1a3426498a0"
              toAddress="chrhodesvnc@gmail.com" fromAddress="chrhodes@cox.net"
              subjectLineStarter="In" subjectLineEnder="Out" smtpServer="smtp.gmail.com"
              smtpPort="465" formatter="Text Formatter" authenticationMode="UserNameAndPassword"
              useSSL="true" userName="chrhodesvnc@gmail.com" password="eoP^^r10"
              traceOutputOptions="Timestamp" />-->

			<add
				name="FlatFile TraceListener"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener,
                Microsoft.Practices.EnterpriseLibrary.Logging,
                Version=6.0.0.0,
                Culture=neutral,
                PublicKeyToken=d702d1a3426498a0"
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData,
                Microsoft.Practices.EnterpriseLibrary.Logging,
                Version=6.0.0.0,
                Culture=neutral,
                PublicKeyToken=d702d1a3426498a0"
				fileName="C:\temp\logs\VNCLogViewer.log"
				header="" footer=""
				formatter="FlatFile Formatter"
				traceOutputOptions="None" />

			<!--<add
              name="Formatted EventLog TraceListener"
              type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener,
                Microsoft.Practices.EnterpriseLibrary.Logging,
                Version=6.0.0.0,
                Culture=neutral,
                PublicKeyToken=d702d1a3426498a0"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData,
                Microsoft.Practices.EnterpriseLibrary.Logging,
                Version=6.0.0.0,
                Culture=neutral,
                PublicKeyToken=d702d1a3426498a0"
              source="Enterprise Library Logging"
              formatter="Text Formatter"
              log="Application"
              machineName=""
              traceOutputOptions="None" />-->

			<add
                name="Rolling FlatFile TraceListener"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener,
                       Microsoft.Practices.EnterpriseLibrary.Logging,
                       Version=6.0.0.0,
                       Culture=neutral,
                       PublicKeyToken=d702d1a3426498a0"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData,
                    Microsoft.Practices.EnterpriseLibrary.Logging,
                    Version=6.0.0.0,
                    Culture=neutral,
                    PublicKeyToken=d702d1a3426498a0"
                fileName="C:\temp\logs\VNCLogViewer.log"
                header="" footer=""
                rollInterval="Day" maxArchivedFiles="7"
                formatter="FlatFile Formatter" />

			<add
                name="SignalRCoreListener"
                type="VNC.Logging.TraceListeners.SignalRCoreListener,
                       VNC.Logging.TraceListeners.SignalRCoreListener,
                       Version=1.0.0.0,
                       Culture=neutral,
                       PublicKeyToken=6621de8a79b51ca3"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData,
                    Microsoft.Practices.EnterpriseLibrary.Logging,
                    Version=6.0.0.0,
                    Culture=neutral,
                    PublicKeyToken=d702d1a3426498a0"
                formatter="LiveView Formatter" />
		</listeners>

		<formatters>
			<add
                name="ErrorLog Formatter"
                template="Timestamp: {timestamp} Message:{keyvalue(Class Name)}.{keyvalue(Method Name)} &gt;  {message} Category: {category} Priority: {priority} Severity: {severity} Process: {processName} - {processId} Thread: {threadName} - {win32ThreadId} User:{keyvalue(User Name)} Title:{title} EventId: {eventid} Machine: {machine} Application Domain: {appDomain} Extended Properties: {dictionary({key} - {value} )}"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,
                    Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d702d1a3426498a0" />
			<add
                name="FlatFile Formatter"
                template="{timestamp(local)}|{category}|{priority}|{severity}|{processName}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(User Name)}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,
                    Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d702d1a3426498a0" />
			<add
                name="Text Formatter"
                template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,
                    Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d702d1a3426498a0" />
			<add
                name="LiveView Formatter"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,
                    Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d702d1a3426498a0"
                template="{timestamp(local:yyyy/MM/dd HH:mm:ss.fff)}|{category}|{priority}|{processId}|{threadName}|{win32ThreadId}|{keyvalue(Class Name)}.{keyvalue(Method Name)}|{keyvalue(Duration)}|{message}" />

			<add name="LiveView Formatter SQL"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter,
                 Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d702d1a3426498a0"
                 template="{keyvalue(Duration)}|{message}" />
		</formatters>

		<logFilters>

			<!-- Use this filter to exclude logging that does not include a duration or takes less than maxDuration milli-seconds -->

			<!--<add
                name="Duration Filter"
                type="EaseCore.Logging.Filters.DurationFilter, EaseCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                maxDuration="0.250" />-->

			<!-- Use this filter to only include logging at the specified level -->

			<!--<add
                name="Level Filter"
                type="EaseCore.Logging.Filters.LevelFilter, EaseCore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                debug="true" debug1="true" debug2="true" debug3="true" debug4="true"
                trace="true" trace1="true" trace2="true" trace3="true" trace4="true"
                trace5="true" trace6="true" trace7="true" trace8="true" trace9="true"
                trace10="false" trace11="false" trace12="false" trace13="false" trace14="false"
                trace15="false" trace16="false" trace17="false" trace18="false" trace19="false"
                trace20="false" trace21="false" trace22="false" trace23="false" trace24="false"
                trace25="false" trace26="false" trace27="false" trace28="false" trace29="false"
                trace30="false" />-->

			<!-- Use this filter to include logging where the minimumPriority <= priority <= maximumPriority -->

			<!--<add
                name="Priority Filter"
                type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter,
                Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=d702d1a3426498a0"
                minimumPriority="-10" maximumPriority="10030" />-->
		</logFilters>

        <categorySources>
          <add switchValue="All" name="General">
            <listeners>
                <add name="Rolling FlatFile TraceListener" />
				<add name="SignalRCoreListener" />
			</listeners>
          </add>
          <add switchValue="All" name="VNCLogViewer">
            <listeners>
				<add name="Rolling FlatFile TraceListener" />
				<add name="SignalRCoreListener" />
            </listeners>
          </add>
          <add switchValue="All" name="VNCCore">
            <listeners>
				<add name="Rolling FlatFile TraceListener" />
				<add name="SignalRCoreListener" />
            </listeners>
          </add>
          <!--<add switchValue="All" name="VNCLogViewer_Persistence">
            <listeners>
              <add name="FlatFile TraceListener" />
            </listeners>
          </add>
          <add switchValue="All" name="APPLICATION_DomainServices">
            <listeners>
              <add name="FlatFile TraceListener" />
            </listeners>
          </add>
          <add switchValue="All" name="APPLICATION_Presentation_Friend">
            <listeners>
              <add name="FlatFile TraceListener" />
            </listeners>
          </add>-->
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category">
                <listeners>
                    <add name="Rolling FlatFile TraceListener" />
                </listeners>
            </notProcessed>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Rolling FlatFile TraceListener" />
					<add name="SignalRCoreListener" />					
                    <!--<add name="Formatted EventLog TraceListener" />-->
                </listeners>
            </errors>
        </specialSources>
  </loggingConfiguration>
</configuration>
